---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am a second-year MSCS student at Stanford University. My academic interests
  lie in the intersection between AI and cybersecurity, particularly
  the privacy and security implications of recent AI technologies. I am also 
  broadly interested in cryptography and how technology can be used to 
  combat climate change and economic inequality. I am doing research at 
  <a href="https://stair.cs.stanford.edu/">Stanford Trustworthy AI Research (STAIR)</a>
  with Prof. <a href="https://cs.stanford.edu/people/sanmi/">Sanmi Koyejo</a>,  
  <a href="https://stanfordmlgroup.github.io/programs/aicc-bootcamp/">AI for Climate Change</a> 
  with Prof. <a href="https://www.andrewng.org/">Andrew Ng</a>, and working on 
  CyberAgentBench: a cybersecurity benchmark for LLM agents with Profs. 
  <a href="https://cs.stanford.edu/~pliang/">Percy Liang</a>, 
  <a href="https://crypto.stanford.edu/~dabo/">Dan Boneh</a>, 
  and <a href="https://dho.stanford.edu/">Daniel Ho</a>.
  </p>

  <p>
  I received my undergraduate degree from Cornell University in 2022, double 
  majoring in Mathematics and Computer Science. At Cornell, I was advised by 
  Prof. <a href="https://www.cs.cornell.edu/home/halpern/">Joe Halpern</a> and 
  did research on post-quantum cryptography with Prof. 
  <a href="https://www.noahsd.com/">Noah Stephens-Davidowitz</a>. I was also 
  a junior inductee into the 
  Phi Beta Kappa honors society, an honor reserved for the top 3% of 
  the graduating class.
  </p> 

  <p>
  I am from Bangkok, Thailand, but am currently based in Stanford, California.
  </p>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-all">All</div></li>
  </ul>
 
  <div class="tab-content">
    <!--
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
-->

    <div class="tab-pane active" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<div class="docs-section" id="teaching">
    <h4>Teaching</h4>
    <h5>Cornell University <span style="font-size: 0.75em;">(as TA)</span></h5>
    {% assign current_classes = site.data.classes.classes | where: "category", "current" %}
    {% for class in current_classes %}
    <div class="class">
        <p class="title"><b>{{ class.name }}</b> ({{ class.time }}): 
          {% if class.link %}
            <a href="{{ class.link }}" target="_blank">{{ class.title }}</a>
          {% else %}
            {{ class.title }}
          {% endif %}
        </p>
      </div>      
    {% endfor %}
  </div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Resume</h4>

  <p>Full Resume in <a href={{ "/assets/cv/resume.pdf" | prepend: site.baseurl }} target="_blank">PDF</a> (as of March 2024).</p>

<!-- ========== HOBBIES ========== -->
<div class="docs-section" id="hobbies">
  <h4>Misc</h4>
    <p>Outside of academics, I have a lot of hobbies (and struggle with finding the time to do them all):</p>
    <ul>
        <li>Hiking, taking photos, and connecting with nature</li>
        <li>Video games (especially JRPGs and story-based single-player games: my favorites so far include <em>Fire Emblem</em>, <em>Pokemon</em>, <em>NieR: Automata</em>, <em>Omori</em> and <em>Hollow Knight</em>)</li>
        <li>Anime/manga (mostly 2010s pre-Netflix stuff: my favorites are <em>Terror in Resonance</em>, <em>Psycho Pass</em>, <em>Death Parade</em>, <em>March Comes In Like A Lion</em>, <em>Attack on Titan</em>, <em>Tokyo Ghoul</em>, and <em>Assassination Classroom</em>)</li>
        <li>Electronic music (mainly progressive house, melodic techno, and dark/hard techno), attending nightclubs and music festivals, and learning how to DJ. Favorite artists: Porter Robinson, Tale of Us, Qrion, EMBRZ, KILL SCRIPT, i_o</li>
        <li>Pondering about random abstract and philosophical things</li>
        <li>Reddit and dumb memes</li>
        <li>Swimming</li>
    </ul>

<div class="docs-section" id="ack">
    <p>
      This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>.<br>
      Last updated: May 2024
    </p>
  
  </div>
